<h1>{{title}}</h1>
<nav>
  <div *ngIf="isAnon() == true; else elseBlock">
    <a routerLink="/login">Sign in</a>
  </div>
  <ng-template #elseBlock>
    <a routerLink="/logout">Sign out</a>
    <a routerLink="/user">User Profile</a>
  </ng-template>
  <div *ngIf="isAdmin() == true">
    <a routerLink="/adminDashboard">Companies</a>
  </div>
  <div *ngIf="isEmployee() == true">
    <a routerLink="/employeeDashboard">Dashboard</a>
  </div>
  <div *ngIf="isClient() == true">
    <a routerLink="/clientDashboard">Dashboard</a>
  </div>
</nav>
<router-outlet></router-outlet>
