<div *ngIf="department != null" class="department">
  <input type="text" [(ngModel)]="department.uid"/>
  <input type="text" [(ngModel)]="department.name"/>
  <label>Manager</label>
  <select [compareWith]="equals" [(ngModel)]="department.manager">
    <option *ngFor="let employee of allEmployees" [ngValue]="employee" label="{{employee.firstName}} {{employee.lastName}}">
  </select>
  <label>Employees</label>
  <select multiple class="employees" [(ngModel)]="department.employees">
    <option *ngFor="let employee of allEmployees" label="{{employee.firstName}} {{employee.lastName}}" [value]="employee">
  </select>
  <app-address-edit [address]="department.address" (addressData)="saveAddress"></app-address-edit>
  <button (click)="postDepartment()">Save Department</button>
</div>
