<div class="container pad-top">
    <form class="form-horizontal" role="form" ng-submit="addShipwreck()">
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="text" ng-model="employee.uid" class="form-control" id="email" placeholder="Email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label"> Password</label>
            <div class="col-sm-10">
                <input type="text" ng-model="employee.password" class="form-control" id="password" placeholder="Password"/>
            </div>
        </div>
    </form>
</div>